<config>
    <modules>
        <Luckycycle_Snippetsdk>
            <version>1.0.0</version>
        </Luckycycle_Snippetsdk>
    </modules>
    <frontend>
        <layout>
            <updates>
                <snippetsdk>
                    <file>Luckycycle/snippetsdk.xml</file>
                </snippetsdk>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
           <snippetsdk>
               <class>Luckycycle_Snippetsdk_Helper</class>
           </snippetsdk>
        </helpers>
        <models>
            <snippetsdk>
                <class>Luckycycle_Snippetsdk_Model</class>
                <resourceModel>luckycycle_snippetsdk_mysql4</resourceModel>
            </snippetsdk>
            <luckycycle_snippetsdk_mysql4>
                <class>Luckycycle_Snippetsdk_Model_Mysql4</class>
                <entities>
                    <luckycycle>
                        <table>luckycycle_snippetsdk</table>
                    </luckycycle>
                </entities>
            </luckycycle_snippetsdk_mysql4>
        </models>
        <resources>
            <luckycycle_snippetsdk_setup>
                <setup>
                    <module>Luckycycle_Snippetsdk</module>
                    <class>Luckycycle_Snippetsdk_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </luckycycle_snippetsdk_setup>
            <luckycycle_snippetsdk_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </luckycycle_snippetsdk_write>
            <luckycycle_snippetsdk_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </luckycycle_snippetsdk_read>
        </resources>
    </global>
    <default>
        <snippetsdk>
            <params>
                <enabled>0</enabled>
                <use_iframe>1</use_iframe>
            </params>
        </snippetsdk>
    </default>
</config>